.btn-fav.toggle span {
  color: goldenrod;
  background-color: #f8f9fa !important;
  font-size: xx-large;
  margin-left: 2rem;
}

.btn-fav span {
  color: #f8f9fa;
  width: 5rem;
  font-size: xx-large;
}
