.text-muted p {
  color: red;
}

.colorInfo {
  color: #17a2b8;
}

.form-btn {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.form-btn-sbm {
  margin: 1rem 5rem;
}
.form-label Button {
  padding: 0.45rem 3.5rem;
  border-radius: 3rem;
  margin-left: 2rem;
  float: left;
}
