
body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
}




/* xxxxxx bootstrap - customizations xxxxxx */

/* make the customizations */
// $theme-colors: (
//   "info": tomato,
//   "danger": teal
// );

/* import bootstrap to set changes */
// @import "~bootstrap/scss/bootstrap"; 

// @import "custom";

/* xxxxxx bootstrap - customizations xxxxxx */
